<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
  xmlns:task="http://www.springframework.org/schema/task"
  xmlns:util="http://www.springframework.org/schema/util"
  xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
    http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.1.xsd
    http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.1.xsd">

  <util:properties id="appProps" location="${jrestfulAppProps}" />
  <context:property-placeholder properties-ref="appProps" ignore-unresolvable="true" />
  
  <util:properties id="secProps" location="${jrestfulSecProps}" />
  <context:property-placeholder properties-ref="secProps" ignore-unresolvable="true" />

  <context:component-scan base-package="org.jrestful">
    <context:exclude-filter type="regex" expression="org\.jrestful\.web\.controllers\..*" />
  </context:component-scan>
  
  <task:annotation-driven />

</beans>
